.headline {
  display: flex;
  justify-content: center;
}

.demo-block {
  background-color: #75e6da;
  margin: 30px;
  padding: 30px;
}

.show-button,
.hide-button {
  background-color: #189ab4;
  border: 0;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  color: #fff;
}

.show-button {
  margin-right: 10px;
}

.cat-image {
  margin-top: 20px;
  width: 400px;
  height: auto;
  display: block;
  object-fit: cover;
}

#portal-demo {
  display: block;
  background-color: #05445e;
  color: #fff;
  margin: 30px;
  padding: 30px;
}
